*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("pexels-pixabay-209831.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 70%;
    background-color: rgba(173, 173, 173, 0.20);
    height: 70%;
    padding: 20px;
}

input , button{
    font-size: larger;
    padding: 12px;
    color: rgb(102, 102, 102);
    cursor: pointer;  
}

h2{
    font-size: 1.7em;
    font-weight: 900;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 1.3 black;
    padding: 30px;
}

input:hover{
    background-color: rgb(219, 219, 219);
    transition: all 2s;
    color: rgb(0, 0, 0);
}

button:hover{
    background-color: rgb(88, 88, 88);
    transition: all 2s;
    color: black;
}

h1{
    font-weight: 900;
    color: rgb(11, 12, 17);
    text-shadow: 0 0 2px white;
    color: rgb(247, 247, 247);
    padding: 30px;
    font-size: 2.5em;
}

/* Compelete Css */